{{#partial "content"}}

    <h1>Group chat: {{data.chat.referencedGroup.caption}}</h1>

    <hr/>

    <div style="width: 400px;">
        {{#data.chat}}

            <div>
                {{#messages}}
                    <div>
                        {{author.firstname}}: {{text}}
                    </div>
                {{/messages}}
            </div>

            <div>
                <form action="messages/create" method="post">
                    <input name="groupId" type="hidden" value="{{referencedGroup.id}}">
                    <textarea name="text" placeholder="Enter the message"></textarea>
                    <button type="submit">Send</button>
                </form>
                {{#if messages}}
                    <form action="history/delete" method="post">
                        <input name="historyId" type="hidden" value="{{id}}">
                        <input name="redirectUri" type="hidden" value="chats/groups/{{referencedGroup.id}}">
                        <button type="submit">Clear history</button>
                    </form>
                {{/if}}

            </div>
            <hr/>
        {{/data.chat}}
    </div>

{{/partial}}

{{> plain/templates/layout-authorized}}


