{{#partial "content"}}

    <h1>My chats</h1>

    <ul class="chat-list">
        {{#data.chats}}
            <li class="chat-list-item">
                {{#if companion}}
                    <img src="https://www.gravatar.com/avatar/{{companion.emailHash}}?s=48&default=identicon">
                    <span>{{companion.firstname}} {{companion.lastname}}</span>
                {{else}}
                    <img src="https://www.gravatar.com/avatar/{{group.id}}?s=48&default=identicon">
                    <span>{{group.caption}}</span>
                {{/if}}
                <a href="chats/{{id}}">Send message</a>
                {{#messages}}
                    <span>{{text}}</span>
                    <img src="https://www.gravatar.com/avatar/{{author.emailHash}}?s=48&default=identicon">
                    <span>{{author.firstname}}</span>
                {{/messages}}
            </li>
        {{/data.chats}}
    </ul>
{{/partial}}

{{> plain/templates/layout}}
