{{#partial "content"}}

    <h1>My chats</h1>

    <div class="chat-list">

        {{#data.messages}}

            {{#if group}}
                <div>
                    {{group.caption}}
                </div>
                <form action="chats/group/{{group.id}}" method="get">
                    <button type="submit">Go</button>
                </form>
            {{else}}
                <div>
                    {{profileName recipient}}
                </div>
                <form action="chats/{{recipient.id}}" method="get">
                    <button type="submit">Go</button>
                </form>
            {{/if}}

            <div>
                <form action="history/delete" method="post">
                    <input name="groupId" type="hidden" value="{{group.id}}">
                    <input name="recipientId" type="hidden" value="{{profile.id}}">
                    <button type="submit">Delete</button>
                </form>
            </div>

            <hr/>
        {{/data.messages}}
    </div>
{{/partial}}

{{> plain/templates/layout-authorized}}
