{{#partial "content"}}

    <h1>My chats</h1>

    <div class="chat-list">

        {{#data.chats}}

            {{#if group}}
                <div>
                    {{group.caption}}
                </div>
                <a href="chats/{{group.id}}">Write a message</a>
            {{else}}
                <div>
                    {{profileName companion}}
                </div>
                <a href="chats/{{companion.id}}">Write a message</a>
            {{/if}}

            <div>
                <form action="chats/clear" method="post">
                    <input name="id" type="hidden" value="{{chatId}}">
                    <button type="submit">Delete</button>
                </form>
            </div>

            <hr/>
        {{/data.chats}}
    </div>
{{/partial}}

{{> plain/templates/layout}}
