{{#partial "content"}}

    <h1>My chats</h1>

    <ul class="chat-list">
        {{#data.chats}}
            <li class="chat-list-item">
                {{#if companion}}
                    <img src="{{companion.gravatarUrl}}">
                    <span>{{companion.prettyName}}</span>
                {{else}}
                    <img src="{{group.gravatarUrl}}">
                    <span>{{group.caption}}</span>
                {{/if}}
                <a href="chats/{{chatId}}">Send message</a>
                {{#messages}}
                    <span>{{text}}</span>
                    <img src="{{author.smallGravatarUrl}}">
                    <span>{{author.prettyName}}</span>
                {{/messages}}
            </li>
        {{/data.chats}}
    </ul>
{{/partial}}

{{> plain/templates/layout}}
