{{#partial "content"}}

    <div class="chat">

        {{#data}}

            {{#if group}}
                <h1>Group chat {{group.caption}}</h1>
            {{else}}
                <h1>Chat with {{profileName profile}}</h1>
            {{/if}}

            <form class="message-form" action="messages/create" method="post">

                <input name="groupId" type="hidden" value="{{group.id}}">
                <input name="recipientId" type="hidden" value="{{profile.id}}">

                <div class="form-control">
                    <textarea name="text" placeholder="Enter the message"></textarea>
                </div>

                <button type="submit">Send</button>
            </form>

            {{#if messages}}

                <form class="history-form" action="history/delete" method="post">

                    <input name="groupId" type="hidden" value="{{group.id}}">
                    <input name="recipientId" type="hidden" value="{{profile.id}}">

                    <button type="submit">Clear history</button>
                </form>
            {{/if}}


            <div class="history">

                {{#messages}}
                    <div class="message">
                        <div class="avatar-section">
                            <img class="avatar" src="https://www.gravatar.com/avatar/{{author.gravatarHash}}?s=48&default=mp">
                        </div>
                        <div class="content-section">
                            <div>
                                <span class="author">
                                    {{#if own}}
                                        Me
                                    {{else}}
                                        <a href="profiles/{{author.id}}">{{profileName author}}</a>
                                    {{/if}}
                                </span>
                                <span class="timestamp">{{prettyTimestamp createdAt}}</span>
                            </div>
                            <div class="text">
                                <span class="text">{{text}}</span>
                            </div>
                        </div>
                    </div>
                {{/messages}}
            </div>
        {{/data}}
    </div>
{{/partial}}

{{> plain/templates/layout-authorized}}
