{{#partial "content"}}

    {{#data.profile}}

        <div class="profile-card">

            <img class="gravatar-large" src="{{largeGravatarUrl}}">

            <div class="profile-info">

                <h2>{{prettyName}}</h2>

                {{#if status}}<p>{{status}}</p>{{/if}}

                {{#if preview}}
                    <p>Contact details are hidden</p>
                {{else}}
                    {{#if status}}<p>{{email}}</p>{{/if}}
                {{/if}}

                {{#if own}}
                    <form action="profiles/update" method="post">
                        <div>
                            <input name="id" type="hidden" value="{{id}}"/>
                        </div>
                        <div>
                            <label for="firstname">First name: </label>
                            <input name="firstname" type="text" value="{{firstname}}"/>
                        </div>
                        <div>
                            <label for="lastname">Last name: </label>
                            <input name="lastname" type="text" value="{{lastname}}"/>
                        </div>
                        <div>
                            <label for="email">Email: </label>
                            <input name="email" type="text" value="{{email}}"/>
                        </div>
                        <div>
                            <label for="status">Status: </label>
                            <input name="status" type="text" value="{{status}}"/>
                        </div>
                        <div>
                            <label for="restricted">Restricted: </label>
                            <input name="restricted" type="radio" value="true" {{#if restricted}}checked{{/if}}/>
                            <input name="restricted" type="radio" value="false" {{#unless restricted}}checked{{/unless}}/>
                        </div>
                        <div>
                            <button type="submit">Save</button>
                        </div>
                    </form>
                {{else}}
                    {{#if connected}}
                        <form action="chats/{{id}}" method="get">
                            <div>
                                <button type="submit">Send message</button>
                            </div>
                        </form>
                    {{else}}
                        <form action="proposals/create" method="post">
                            <div>
                                <input name="acceptorId" type="hidden" value="{{id}}"/>
                            </div>
                            <div>
                                <input name="redirectUri" type="hidden" value="profiles/{{id}}"/>
                            </div>
                            <div>
                                <label for="text">Text: </label>
                                <input name="text" type="text" value=""/>
                            </div>
                            <div>
                                <button type="submit">Send contact request</button>
                            </div>
                        </form>
                    {{/if}}
                {{/if}}
            </div>
        </div>
    {{/data.profile}}
{{/partial}}

{{> plain/templates/layout}}
