{{#partial "content"}}


    {{#with data.profile}}

        <h1>Profile: {{accountName}}</h1>

        <form action="profiles/update" method="post">
            <div>
                <input name="id" type="hidden" value="{{id}}"/>
            </div>
            <div>
                <label for="email">Email: </label>
                <input name="email" type="text" value="{{email}}"/>
            </div>
            <div>
                <label for="firstname">First name: </label>
                <input name="firstname" type="text" value="{{firstname}}"/>
            </div>
            <div>
                <label for="lastname">Last name: </label>
                <input name="lastname" type="text" value="{{lastname}}"/>
            </div>
            <div>
                <label for="status">Status: </label>
                <input name="status" type="text" value="{{status}}"/>
            </div>
            <div>
                <label for="lastSpottedAtPretty">Last spotted at: </label>
                <input name="lastSpottedAtPretty" type="text" value="{{lastSpottedAtPretty}}"/>
            </div>
            <div>
                <label for="restricted">Restricted: </label>
                <input name="restricted" type="radio" value="true"/>
                <input name="restricted" type="radio" value="false"/>
            </div>
            <div>
                <button type="submit">Save</button>
            </div>
        </form>

        {{#if connected}}
            Connected!
        {{else}}

            {{#unless ownedByPrincipal}}

                <form action="proposals/create" method="post">
                    <div>
                        <input name="acceptorId" type="hidden" value="{{id}}"/>
                    </div>
                    <div>
                        <input name="redirectUri" type="hidden" value="profile/{{accountName}}"/>
                    </div>
                    <div>
                        <label for="text">Text: </label>
                        <input name="text" type="text" value=""/>
                    </div>
                    <div>
                        <button type="submit">Add as contact</button>
                    </div>
                </form>
            {{/unless}}
        {{/if}}

    {{/with}}
{{/partial}}

{{> plain/templates/layout-authorized}}
