{{#partial "content"}}

        <h1>User profiles</h1>

        <table class="profile-table">

            <thead>
                <tr>
                    <td>Avatar</td>
                    <td>Name</td>
                    <td>Status</td>
                    <td>Connected to me?</td>
                </tr>
            </thead>
            <tbody>
                {{#data.profiles}}
                    <tr>
                        <td>
                            <img src="{{gravatarUrl}}">
                        </td>
                        <td>
                            <a href="profiles/{{id}}">{{prettyName}}</a>
                        </td>
                        <td>
                            {{status}}
                        </td>
                        <td>
                            {{#if connected}}
                                Yes
                            {{else}}
                                No yet
                            {{/if}}
                        </td>
                    </tr>
                {{/data.profiles}}
            </tbody>
        </table>
{{/partial}}

{{> plain/templates/layout}}
