{{#partial "content"}}


    {{#with data.profile}}

        <div class="column">
            <div class="card">
                <img src="https://www.gravatar.com/avatar/{{emailHash}}?s=64&default=identicon">
                <div class="container">
                    <h2>{{firstname}} {{lastname}}</h2>
                    <p class="title">CEO &amp; Founder</p>
                    <p>{{status}}</p>
                    <p>{{email}}</p>
                    <p><button class="button">Contact</button></p>
                </div>
            </div>
        </div>


        {{#unless preview}}
            <div>Viewable</div>
        {{/unless}}

        {{#if own}}
            <div>It's me</div>
            <form action="profiles/update" method="post">
                <div>
                    <input name="id" type="hidden" value="{{id}}"/>
                </div>
                <div>
                    <label for="email">Email: </label>
                    <input name="email" type="text" value="{{email}}"/>
                </div>
                <div>
                    <label for="firstname">First name: </label>
                    <input name="firstname" type="text" value="{{firstname}}"/>
                </div>
                <div>
                    <label for="lastname">Last name: </label>
                    <input name="lastname" type="text" value="{{lastname}}"/>
                </div>
                <div>
                    <label for="status">Status: </label>
                    <input name="status" type="text" value="{{status}}"/>
                </div>
                <div>
                    <label for="lastSpottedAtPretty">Last spotted at: </label>
                    <input name="lastSpottedAtPretty" type="text" value="{{prettyTimestamp lastSpottedAt}}"/>
                </div>
                <div>
                    <label for="restricted">Restricted: </label>
                    <input name="restricted" type="radio" value="true" {{#if restricted}}checked{{/if}}/>
                    <input name="restricted" type="radio" value="false" {{#unless restricted}}checked{{/unless}}/>
                </div>
                <div>
                    <button type="submit">Save</button>
                </div>
            </form>
        {{else}}

            {{#if connected}}
                <div>Connected</div>
            {{else}}
                <div>Not yet connected</div>
                <div>{{restricted}}</div>
                <form action="proposals/create" method="post">
                    <div>
                        <input name="acceptorId" type="hidden" value="{{id}}"/>
                    </div>
                    <div>
                        <input name="redirectUri" type="hidden" value="profile/{{id}}"/>
                    </div>
                    <div>
                        <label for="text">Text: </label>
                        <input name="text" type="text" value=""/>
                    </div>
                    <div>
                        <button type="submit">Add as contact</button>
                    </div>
                </form>
            {{/if}}
        {{/if}}
    {{/with}}
{{/partial}}

{{> plain/templates/layout-authorized}}
