{{#partial "content"}}

    <h1>Contacts: {{data.groupName}}</h1>

    <ul>
        <li><a href="proposals/incoming">Incoming proposals</a></li>
        <li><a href="proposals/outgoing">Outgoing proposals</a></li>
    </ul>

    <hr/>

    <div style="width: 400px;">
        {{#data.proposals}}

            {{#if initiatedByPrincipal}}
                <div>
                    {{profileName acceptor}}
                </div>
            {{else}}
                <div>
                    {{profileName initiator}}
                </div>
            {{/if}}

            <div>
                <div>
                    {{text}}
                </div>
                <div>
                    {{#if initiatedByPrincipal}}
                        <form action="proposals/cancel" method="post">
                            <input name="proposalId" type="hidden" value="{{id}}">
                            <input name="redirectUri" type="hidden" value="proposals/incoming">
                            <button type="submit">Cancel request</button>
                        </form>
                    {{else}}
                        <form action="proposals/accept" method="post">
                            <input name="proposalId" type="hidden" value="{{id}}">
                            <input name="redirectUri" type="hidden" value="profiles/{{initiator.id}}">
                            <button type="submit">Accept request</button>
                        </form>
                        <form action="proposals/reject" method="post">
                            <input name="proposalId" type="hidden" value="{{id}}">
                            <input name="redirectUri" type="hidden" value="proposals/outgoing">
                            <button type="submit">Reject request</button>
                        </form>
                    {{/if}}
                </div>
            </div>

            <hr/>
        {{/data.proposals}}
    </div>

{{/partial}}

{{> plain/templates/layout-authorized}}
