<h1>Group chat: {{data.chat.group.caption}}</h1>

<hr/>

<div style="width: 400px;">
    {{#data.chat}}

        <div>
            {{#history.messages}}
                <div>
                    {{author.firstname}}: {{text}}
                </div>
            {{/history.messages}}
        </div>

        <div>
            <form action="/view/message" method="post">
                <input name="groupId" type="hidden" value="{{group.id}}">
                <textarea name="text" placeholder="Enter the message"></textarea>
                <button type="submit">Send</button>
            </form>
            {{#history}}
                <form action="/view/history/delete" method="post">
                    <input name="historyId" type="hidden" value="{{id}}">
                    <input name="viewToRedirect" type="hidden" value="chat/group/{{@root.data.chat.group.id}}">
                    <button type="submit">Clear history</button>
                </form>
            {{/history}}

        </div>
        <hr/>
    {{/data.chat}}
</div>

<hr/>

<ul>
    <li><a href="/view/home">Back Home</a></li>
</ul>
