<h1>Contacts: {{data.groupName}}</h1>

<ul>
    <li><a href="/view/proposals/incoming">Incoming proposals</a></li>
    <li><a href="/view/proposals/outgoing">Outgoing proposals</a></li>
</ul>

<hr/>

<div style="width: 400px;">
    {{#data.proposals}}

        {{#if initiatedByPrincipal}}
            <div>
                {{acceptor.accountName}}
            </div>
        {{else}}
            <div>
                {{initiator.accountName}}
            </div>
        {{/if}}

        <div>
            <div>
                {{text}}
            </div>
            <div>
                {{#if initiatedByPrincipal}}
                    <form action="/view/proposals/cancel" method="post">
                        <input name="proposalId" type="hidden" value="{{id}}">
                        <input name="viewToRedirect" type="hidden" value="proposals/incoming">
                        <button type="submit">Cancel request</button>
                    </form>
                {{else}}
                    <form action="/view/proposals/accept" method="post">
                        <input name="proposalId" type="hidden" value="{{id}}">
                        <input name="viewToRedirect" type="hidden" value="profile/{{initiator.accountName}}">
                        <button type="submit">Accept request</button>
                    </form>
                    <form action="/view/proposals/reject" method="post">
                        <input name="proposalId" type="hidden" value="{{id}}">
                        <input name="viewToRedirect" type="hidden" value="proposals/outgoing">
                        <button type="submit">Reject request</button>
                    </form>
                {{/if}}
            </div>
        </div>

        <hr/>
    {{/data.proposals}}
</div>

<hr/>

<ul>
    <li><a href="/view/home">Back Home</a></li>
</ul>
